---
import Layout from "../layouts/Layout.astro";
import DiscoverView from "../components/views/DiscoverView.tsx";
---

<Layout title="Discover New Metal Music">
  <main>
    <DiscoverView client:load />
  </main>
</Layout>
